<html>
<head>
    <title>{{ title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, minimum-scale=1.0, maximum-scale=3.0">
    <meta name="robots" content="max-image-preview:large">
    <link rel="alternate" type="application/rss+xml" title=" » Feed" href="{{feed_url}}">
    <link rel="stylesheet" href="{{web_root}}/css/style-wordpress.css" type="text/css" media="all">
</head>

<body>


<body class="post-template-default single single-post postid-1407 single-format-standard mantra-image-seven mantra-caption-light mantra-hratio-0 mantra-sidebar-right mantra-menu-left">
    <div id="toTop"><i class="crycon-back2top"></i> </div>
    <div id="wrapper" class="hfeed">

<header id="header">
    <div id="masthead">
        <div id="branding" role="banner">
            <div id="header-container">
                <div id="site-description">blog of zachary "za3k" vance</div>
                <div class="socials" id="sheader">
                    <a target="_blank" rel="nofollow" href="{{feed_url}}" class="socialicons social-RSS" title="RSS">
                        <img alt="RSS" src="{{web_root}}/images/RSS.png">
                    </a>
                </div>
            </div>
            <div style="clear:both;"></div>
        </div>
        <a id="nav-toggle"><span>&nbsp; Menu</span></a>
        <nav id="access" class="" role="navigation">
            <div class="menu">
                <ul id="prime_nav" class="menu">
                    <li id="menu-item-255" class="menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor current-menu-parent current-post-parent menu-item-255"><a href="{{web_root}}/category/non-technical/">Non-Technical</a></li>
                    <li id="menu-item-256" class="menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor current-menu-parent current-post-parent menu-item-256"><a href="{{web_root}}/category/technical/">Technical</a></li>
                </ul>
            </div>
        </nav>
    </div>
	<div style="clear:both;"> </div>
</header>

<div id="main" class="main">
	<div id="forbottom">
		<div style="clear:both;"> </div>
		<section id="container">
			<div id="content" role="main">
                {{& content }}
                {{& pagination }}
            </div>
			<div id="primary" class="widget-area" role="complementary">
                <ul class="xoxo">
                    <li id="block-15" class="widget-container widget_block widget_text">
                        <p>
                            <a href="https://za3k.com/blog">archive</a><br>
                            <a href="https://za3k.com">za3k.com</a>
                        </p>
                    </li>
                    <li id="block-2" class="widget-container widget_block widget_search">
                        <iframe src="https://duckduckgo.com/search.html?width=142&site={{domain}}&prefill=Search%20blog" style="overflow:hidden;margin:0;padding:0;width:200px;height:40px;" frameborder="0"></iframe>
                    </li>
                    <li id="block-14" class="widget-container widget_block widget_tag_cloud">
                        {{& tagcloud }}
                    </li>
                </ul>
                <ul class="xoxo"></ul>
            </div>
        </section>
        <div style="clear:both;"></div>
	</div>
</div>

</div><!-- #wrapper -->
</body>
</html>
