<html>
<title>{{title}}</title>
<head>
<style>
html, body {
    margin: 0;
    padding: 0;
    border: 0;
}
#links {
    margin: 0;
    padding: 5px 0;
    display: flex;
}
#links > * {
    flex: 1 1;
    text-align: center;
}
#iframes {
    display: flex;
}
iframe {
    flex: 1 1;
    height: 10000px;
    padding: 0;
    margin: 0;
    border: 0;
    scrollbar-width: none;
    display:block;
}
iframe:first-child {
    border-right: 3px dashed lightgray
}
iframe::-webkit-scrollbar {
    display: none;
}

</style>
</head>
<body>
<ul id="links">
    <a href="https://blog.za3k.com/{{id}}/">original blog</a>
    <a href="https://git.za3k.com/?p=blog.git;a=blob_plain;f=posts-html/{{id}}.html;hb=HEAD">html source</a>
    <a href="https://git.za3k.com/?p=blog.git;a=blob_plain;f=posts-md/{{id}}.md;hb=HEAD">markdown source</a>
</ul>
<div id="iframes"><iframe src="{{url_html}}" id="html"></iframe><iframe src="{{url_md}}" id="markdown"></iframe></body></div>
</html>
