<article class="post type-post status-publish format-standard hentry">

<h1 class="entry-title">
{{^main_display}}<a href="{{url}}" title="Permalink to {{title}}" rel="bookmark">{{/main_display}}
{{title}}
{{^main_display}}</a>{{/main_display}}
</h1>

<div class="entry-meta">
<span class="author vcard"> By  <a class="url fn n" href="{{author.url}}" rel="author" title="View all posts by {{author.tag}}">{{author.tag}}</a> <span class="bl_sep">|</span></span> <time class="onDate date published" datetime="{{date}}"> <a href="{{url}}" rel="bookmark" title="{{time}}"><span class="entry-date">{{day}}</span> <span class="entry-time"> - {{time}}</span></a> </time><span class="bl_sep">|</span><time class="updated" datetime="{{date}}">{{day}}</time> 

{{#has_categories}}
<span class="bl_categ">
    {{# categories_list }}
    <a href="{{thing.url}}" rel="tag">{{thing.tag}}</a>{{^last}}, {{/last}}
    {{/ categories_list }}
</span>
{{/has_categories}}
</div>


{{& post }}

<div class="entry-utility">
{{#has_tags}}
    <span class="bl_posted">Tagged
    {{# tags_list }}<a href="{{thing.url}}" rel="tag">{{thing.tag}}</a>{{^last}}, {{/last}}{{/ tags_list }}{{#main_display}}.{{/main_display}}
    </span>
{{/has_tags}}
{{#main_display}}
<span class="bl_bookmark"> Bookmark the <a href="{{url}}" rel="bookmark" title="Permalink to {{title}}"> permalink</a>.</span>
{{/main_display}}
</div>

{{#main_display}}
{{#comments}}
<div id="comments">
    <h3 id="comments-title" style="padding-bottom: 0;">Responses to <em>{{post_title}}</em></h3>
    <div id="comments-note" style="margin: 1rem 0; color: red;">
      These comments are archived from wordpress.
    </div>
    {{& comments }}
</div>
{{/comments}}
<script src="https://blog.za3k.com/comments/js/embed.min.js"></script>

<section id="isso-thread">
    <noscript>Javascript needs to be activated to view comments.</noscript>
</section>
{{/main_display}}
</article>
